body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden; /* Prevent scrollbars */
}

.background-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    object-fit: cover;
}

.logo-image {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Media Query for Mobile Devices */
@media screen and (max-device-width: 480px)
    and (orientation: portrait) {
    .logo-image {
        position: absolute;
        top: 5%;
        left: 2%;
        width: 50%; /* Adjust for mobile devices */
        height: auto; 
    }

    .background-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        object-fit: cover;
    }
        
}
