@font-face {
    font-family: 'PressStart';
    src: url('Fonts/Press_Start/PressStart2P-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden; /* Prevent scrollbars */
}

.content-wrapper {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-image {
    width: 80%; /* Adjust the width as needed */
    height: auto;
    object-fit: cover;
    margin: 0 auto; /* Center the background image horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-image {
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    left: 20px; /* Adjust the left position as needed */
    cursor: pointer;
    z-index: 1; /* Ensure the logo is above the background image */
}

.home-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 600px;
    left: 9%;
    transform: translateX(-50%);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    border-radius: 10px;
    font-family: 'PressStart', sans-serif; /* Apply the custom font family */
}

.videos-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 530px;
    left: 9%;
    transform: translateX(-50%);
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    border-radius: 10px;
    font-family: 'PressStart', sans-serif; /* Apply the custom font family */
}

.home-button:hover, .videos-button:hover {
    background-color: white;
    color: black;
}